.search {

}

.logo_text {
    font-size: 1.5rem;
    color: #54a65c;
    font-weight: 700;
    text-align: left;
    margin-bottom: 4px;
}

.searchBar {

}

.searchIcon {

}

.main {

}

.floatMenu {

}